body{
  color: #333333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header{
  margin-top: 16px;
  margin-bottom: 48px;
}

.main-conent{
  flex-grow: 1;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}